<div class="container" style="position: relative; padding-bottom: 95px;" data-controller="show-labels sign-dream labels-dream">
  <%= simple_form_for [@label, @dream], data: { new_dream_target: "form" } do |f| %>
    <div class="row">
      <div class="col-2 back-btn-div" style="z-index: 9999;">
        <%= link_to :back, class: "back-btn" do %>
          <i class='fas fa-arrow-left'></i>
        <% end %>
      </div>
      <div style="position: absolute;">
        <%= f.input :dream_date,  
                    as: :string,
                    label: false,
                    input_html: { 
                      class: "datepicker date-input edit-dream-date",
                      value: @dream.dream_date
                    } %>
      </div>
    </div>
    <div class="px-4">
      <%= f.input :title, placeholder: "give a title to your dream...", 
                          label: false, 
                          input_html: { class: "bg-none-input", maxlength:"20" } %>
      <div class="white-round-bg mb-4">
        <div class="d-flex justify-content-between">
          <a class="add-input-btn" data-action="click->sign-dream#showSigns" data-sign-dream-target="signBtn"><%= @dream.significance ? @dream.significance.sign_type : "+ significance" %></a>
          <a class="add-input-btn" data-action="click->labels-dream#showLabels" data-labels-dream-target="labelsBtn">+ label</a>
        </div>
        <div>
          <div class="d-none visuallyhidden pad-16px" data-sign-dream-target="addsign" data-labels-dream-target="removesign">
            <%= f.association :significance,  label_method: :sign_type,
                                              as: :check_boxes,
                                              include_hidden: false, 
                                              required: false,
                                              label: false,
                                              input_html: { data: { action: "input->sign-dream#checkOneOnly", sign_dream_target: "checkbox" } },
                                              wrapper_html: { data: { sign_dream_target: "signInput" } } %>
            <div class="d-flex justify-content-center">
              <a class="white-save-btn" data-action="click->sign-dream#closeSign click->show-labels#showLabels click->labels-dream#closeLabels">save</a>
            </div>
          </div>
          <div class="d-none visuallyhidden pad-16px" data-labels-dream-target="addlabel" data-sign-dream-target="removelabels">
            <%= f.association :labels,  label_method: :title, 
                                        collection: current_user.labels,
                                        label: false,
                                        legend: false,
                                        as: :check_boxes,
                                        include_hidden: false, 
                                        input_html: { 
                                          multiple: true,
                                          class: "label-show"
                                        } %>
            <div class="d-flex justify-content-center">
              <a class="white-save-btn" data-action="click->show-labels#showLabels click->labels-dream#closeLabels click->sign-dream#closeSign">save</a>
            </div>
          </div>
        </div>
      </div>
      <%= f.input :content, as: :text,
                            placeholder: "bring your dream to consciousness...",
                            label: false,
                            input_html: { class: "bg-none-input small-font vh60 text-align-start" } %>
      <div class="mx-0 mt-3 d-flex labels-position" data-show-labels-target="labelcontainer">
        <% @dream.labels.each do |label| %>
          <p class="labels"><%= label.title %></p>
        <% end %>
      </div>
      <%= f.button :submit, type: "hidden" %>
    <% end %>
    <div class="px-4 mt-3 mx-0 d-flex labels-position"></div>
  </div>
</div>