<div class="top-fixed blue-bg white-glow", style="width: 100vw">
  <h1 class="title-center m-0 white-font">my dreams</h1>
</div>
<div class="container" data-controller="toggle-dreams" style="min-height: 100vh; padding-bottom: 100px; margin-top: 90px">
  <div>
    <% @years.each do |year| %>
      <button class="border-bottom-white title-center mb-0" id="<%= year %>" data-action="click->toggle-dreams#toggleDreams" style="background: var(--bs-blue); width: 100%; position: sticky;
      top: 83px;"><%= year %></button>
      <div id="year-<%= year %>">
        <% @months.each do |month| %>
          <% if month.split[1] == "#{year}" %>
            <button class="small white-font mt-3 mb-1" id="<%= year %>-<%= month.split[0] %>" data-action="click->toggle-dreams#toggleDreams" style="border: none;background: none; width: 100%;"><i class="fas fa-caret-down"></i> <%= month.split[0] %></button>
          <% end %>

          <%= render "dreams/partials/dream_link", month: month, year: year %>
        <% end %>
      </div>
    <% end %>

    <% if !@dreams.present? %>
      <div class="d-flex justify-content-center">
        <p class="white-font white-round-bg shadow-box-black" style="position: absolute; top: 50%; transform: translateY(-50%);">you have no dreams yet</p>
      </div>
    <% end %>
  </div>
</div>
