<div class="container">
  <%= simple_form_for [@label, @dream], data: { new_dream_target: "form" } do |f| %>
    <div class="row">
      <div class="col-1" style="padding: 16px 0px 16px 16px">
        <%= link_to :back, class: "back-btn" do %>
          <i class='fas fa-arrow-left'></i>
        <% end %>
      </div>
      <div class="col-11">
        <%= f.input :dream_date,  
                    as: :string,
                    label: false,
                    input_html: { 
                      class: "datepicker date-input"
                    } %>
      </div>
    </div>
    <div class="px-4" data-controller="labels-dream">
      <%= f.input :title, placeholder: "give a title to your dream...", 
                          label: false, 
                          input_html: { class: "bg-none-input" } %>
      <div class="d-flex justify-content-between">
        <a class="add-input-btn">+ significance</a>
        <a class="add-input-btn" data-action="click->labels-dream#showLabels">+ label</a>
      </div>
      <%= f.association :significance,  label_method: :sign_type,
                                        # as: :radio_buttons,
                                        label: false, 
                                        input_html: { class: "d-none" }%>
      <%= f.association :labels,  label_method: :title, 
                                  label: false,
                                  # as: :check_boxes,
                                  include_hidden: false, 
                                  input_html: { 
                                    multiple: true,
                                    class: "d-none label-input",
                                    data: {
                                      labels_dream_target: "addlabel"
                                    }
                                  } %>
      <%= f.input :content, as: :text,
                            placeholder: "bring your dream to consciousness...",
                            label: false,
                            input_html: { class: "bg-none-input small-font vh40 text-align-start" } %>
      <%= f.button :submit, type: "hidden" %>
    <% end %>
    </div>
</div>