<div class="container">
  <h2><%= @dream.dream_date %></h2>
  <p><%= @dream.title %></p>
  <p><%= @dream.content %></p>
  <p><%= @dream.significance.sign_type %></p>
  <% @dream.labels.each do |label| %>
    <p><%= label.title %></p>
  <% end %>
</div>