<div class="container" style="position: relative">
  <div class="row">
    <div class="col-2 back-btn-div" style="z-index: 9999">
      <%= link_to :back, class: "back-btn" do %>
        <i class='fas fa-arrow-left'></i>
      <% end %>
    </div>
    <div class="" style="position: absolute;">
      <h2 class="date-input mb-3"><%= @dream.dream_date.strftime("%d %b %Y") %></h2>
    </div>
  </div>
  <div class="px-4">
    <p class="mb-3 text-align-center" id="dream_title"><%= @dream.title %></p>
    <% if @dream.significance  %>
      <p class="white-round-bg white-link-btn mb-4" style="border: <%= @dream.significance ? (@dream.significance.importance == "!!" ? "1.5px solid rgba(200,100,100,0.5)" : "1.5px solid rgba(249,231,17,0.5)") : "" %>"><%= @dream.significance.sign_type %></p>
    <% end %>
    <p class="text-align-start mb-3 scrolled-text dream-content vh60 small-font bg-none-input" style="white-space: pre-wrap"><%= @dream.content %></p>
    <% if @dream.labels.exists? %>
      <div class="d-flex labels-position">
        <% @dream.labels.each do |label| %>
          <p class="labels"><%= label.title %></p>
        <% end %>
      </div>
    <% end %>
    <div class="d-flex justify-content-center mt">
      <%= link_to "delete dream", dream_path(@dream), method: :delete, style: "margin-bottom: 95px;", class: "delete-red-link", data: { confirm: "Are you sure?" }  %>
    </div>
  </div>
</div>