<div class="dreams-list" data-filter-labels-target="dreamslist">
  <% if @filtered_dreams.present? %>
    <% @filtered_dreams.each do |dream| %>
      <%= link_to dream_path(dream) do %>
        <div class="mb-2 white-round-bg shadow-box-black" style="padding: 12px 16px; border: 1.5px solid <%= (if dream.significance.importance == "!!" then "rgba(200,100,100,0.5)" elsif dream.significance.importance == "!" then "rgba(249,231,17,0.5)" else "none" end) if dream.significance %>">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <% if dream.significance %>
                <p class="sig-importance" style="color: <%= dream.significance.importance == "!!" ? "rgb(200,100,100)" : "rgb(249,231,17)" %>"><%= dream.significance.importance %></p>
              <% end %>
              <p class="dream-title"><%= dream.dream_date.strftime("%d %b %Y") %> - <%= dream.title %></p>
            </div>
            <div class="d-flex">
              <% if dream.labels.exists? %>
                <p class="labels mb-0"><%= dream.labels[0].title %></p>
              <% end %>
              <% if dream.labels.count > 1 %>
                <p class="plus-labels">+<%= dream.labels.count - 1 %></p>
              <% end %>
            </div>
          </div>
          <p class="mb-0 mt-1 small-regular overflow-text"><%= dream.content %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="d-flex justify-content-center">
      <div class="d-flex">
        <p style="font-size: 12px">no dreams found with this label</p>
      </div>
    </div>
  <% end %>
</div>