<div class="container grad-blue-bg">
  <div class="top-fixed no-box-shadow" style="width: 100%; background: white">
    <h1 class="title-center m-0 blue">my profile</h2>
  </div>
  <div style="padding-top: 160px">  
    <i class="avatar-profile fas fa-brain"></i>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { new_dream_target: "form"}) do |f| %>
      <%= f.error_notification %>
      <p class="label-group">user info</p>
      <div class="profile-tabs" style="padding: 12px">
        <div class="mt-1 d-flex justify-content-between">
          <%= f.input :first_name,
                      required: true,
                      input_html: { autocomplete: "first-name" },
                      wrapper_html: { class: "input-div me-1" } %>
          
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last-name" },
                      wrapper_html: { class: "input-div ms-1" } %>
        </div>
        
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" },
                    wrapper_html: { class: "input-div mb-2" } %>
        
        <%= f.input :email, 
                    required: true, 
                    autofocus: true, 
                    wrapper_html: { class: "input-div mb-2" } %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <p class="label-group">change password</p>
      <div class="profile-tabs" style="padding: 12px">
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "input-box" },
                    placeholder: "don't fill if you don't want to change it",
                    wrapper_html: { class: "input-div mb-2" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "input-box" },
                    wrapper_html: { class: "input-div mb-2" } %>
      </div>

      <p class="mt-4 m-0 pb-2" style="text-align: center;color: white; font-weight: bold">insert password to confirm changes</p>
      <%= f.input :current_password,
                  required: true,
                  input_html: { autocomplete: "current-password", class: "white-box input-box" },
                  wrapper_html: { class: "input-div no-focus", style: "padding-bottom: 100px" } %>
    <% end %>
  </div>
</div>
