<div class="bottom-fixed-div">
  <%= link_to "add a dream", "#", class: "big-white-link" %>
</div>

<div class="navbar-bt">
  <%= link_to "#" do %>
    <i class='fas fa-chart-line'></i>
  <% end %>

  <%= link_to "#" do %>
    <i class='fas fa-home'></i>
  <% end %>

  <%= link_to "+", "#", class: "add-btn box-white-shadow" %>
  
  <%= link_to "#" do %>
    <i class='fas fa-tags'></i>
  <% end %>
  <%= link_to "#" do %>
    <i class='fas fa-user'></i>
  <% end %>
</div>
