<% if user_signed_in? %>
  <div class="navbar-bt">
    <%= link_to dreams_activity_path do %>
      <i class='fas fa-chart-line'></i>
    <% end %>

    <%= link_to dreams_path do %>
      <i class='fas fa-home'></i>
    <% end %>

    <% if controller_name == "dreams" && action_name == "new" %>
      <button class="save-btn box-white-shadow" data-action="click->new-dream#sendForm">save</button>
    <% elsif controller_name == "dreams" && action_name == "show" %>
      <%= link_to "edit", edit_dream_path(@dream), class:"save-btn box-white-shadow" %>
    <% elsif controller_name == "labels" && action_name == "edit" %>
      <button class="save-btn box-white-shadow" data-action="click->new-label#sendForm">save</button>
    <% elsif controller_name == "labels" && action_name == "new" %>
      <button class="save-btn box-white-shadow" data-action="click->new-label#sendForm">create</button>
    <% elsif controller_name == "dreams" && action_name == "edit" %>
      <button class="save-btn box-white-shadow" data-action="click->new-dream#sendForm">save</button>
    <% elsif controller_name == "registrations" && action_name == "edit" %>
      <button class="save-btn box-white-shadow" data-action="click->new-dream#sendForm">save</button>
    <% else %>
      <%= link_to "+", new_dream_path, class: "add-btn box-white-shadow", style: "margin: 0px 16px;" %>
      <button class="d-none save-btn box-white-shadow" data-action="click->new-dream#sendForm">save</button>
    <% end %>
    
    <%= link_to labels_path do %>
      <i class='fas fa-tags'></i>
    <% end %>
    <%= link_to profile_path do %>
      <i class='fas fa-user'></i>
    <% end %>
  </div>
<% elsif controller_name == "pages" && action_name == "home" %>

  <div class="bottom-fixed-div">
    <p class="big-white-link">bring your dreams to consciousness</p>
  </div>

  <div class="navbar-bt justify-content-center">
    <%= link_to "log-in", new_user_session_path, class: "login-btn box-white-shadow" %>
  </div>
<% end %>

