<%= form_for  :search, 
              url: dreams_activity_path, 
              method: :get, 
              data: { 
                filter_date_target: "form" 
              } do |f| %>
  <div class="d-flex align-items-center justify-content-between my-3 white-filter-form" style="margin: 0px 28vw;">
    <%= f.label "from:", class: "label-label", style: "padding-right: 10px; margin-right: 10px; border-right: 1px solid #D5D5D5; width: 60px;" %>
    <%= f.date_field  :begin_date, 
                      as: :date,
                      class: "datepicker sm-blue dreams_begin_date",
                      data: { 
                        filter_date_target: "filterInput",
                        action: "change->filter-date#filter"
                      }
                      %>
  </div>
  <div class="d-flex align-items-center justify-content-center white-filter-form" style="margin: 0px 28vw;">
    <%= f.label "to:", class: "label-label", style: "padding-right: 10px; margin-right: 10px; border-right: 1px solid #D5D5D5; width: 60px;" %>
    <%= f.date_field :end_date, 
                      as: :date,
                      class: "datepicker sm-blue dreams_end_date",
                      data: { 
                        filter_date_target: "filterInput",
                        action: "change->filter-date#filter"
                      }
                      %>
  </div>
  <%= f.button "submit", class: "d-none" %>
<% end %>
